@charset "UTF-8";

/*
    PALETA DE CORES
    
    VERDE: #49a09d
    LILÃS: #5f2c82
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    
    overflow: hidden;

    background-color: #EBFAF7;
    width: 308px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.438);

    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;

    transform: translate(-50%, -50%);
}

section#login > div#imagem {
    display: block;
    background: #5f2c82 url(../imagens/pexels-scott-webb-139198.jpg) no-repeat;
    background-size: cover;
    background-position: left bottom;
    height: 200px;
}

section#logion > div#formulario {
    display: block;
    padding: 10px;
}

div#formulario {
    padding: 10px;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.5em;
}

div#formulario > p {
    font-size: 0.99em;
    margin-bottom: 10px;
}

.campo > label {
    display: none;
}

.campo {
    background-color:  #579c9a9c /*#9bb8b7*/;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px;
}

.campo > i {
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

.campo > input {
    background-color: #e4f1f18c;
    font-size: 1em;
    width: calc(100% - 43.7px);
    height: 100%;
    
    border-radius: 8px;
    padding: 4px;

    transform: translateY(-11px);
}

.campo > input:focus-within {
    background-color: white;
}

input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #49a09d;
    color: white;
    border: none;
    border-radius: 5px;
}

form > input[type=submit]:hover {
    background-color: #2d6462;
}

a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #dcf1edb7;
    color: #2d6462;
    border: 1px solid #49a09d;
    border-radius: 5px;
    text-decoration: none;
}

a.botao:hover {
    background-color: #6cd3cf;
}

a.botao > i {
    font-size: 1.5em;
}